
/*GLOBAL*/
.errorMessage{
	color: red;
}

body{
	background-color: rgb(245, 245, 245);
}

/*LOGINPAGE*/
#loginForm{
	width: 400px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -100px 0 0 -200px;
	border-radius: 10px;
	border: 1px solid black;
	background-color: white;
}

#loginForm h1{
	margin-bottom: 50px;
}

/*ROOMPAGE*/


.roomChat{
	background-color: rgb(224,224,224);
	position: relative;
	/*border: 1px solid #337ab7;*/
}

.roomChatBox{
	height: 200px;
	background-color: white;
	margin-bottom: 0px;
	overflow: auto;
}

.roomChatBox li{
	float: left;
	width: 100%;
	list-style-type: none;
}

.roomChatBox span{
	margin: 0;
	padding: 3px;
}

.tabborder{
	border: 1px solid #337ab7;
	padding: 0px;
	border-radius: 4px;
}

#createRoom button{
	width: 95%;
	margin: 5px;
}

.heading{
	position: relative;
	background-color: #B5D7F5;	
	border: 1px solid #337ab7;
}

.spanheading{
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

.itemRow{
	height: 56px;
	line-height: 34px;
}

.whiteicon{
	color: white;
}

.fixedsize{
    height: 300px;
    overflow: scroll
;}

.fixedheight{
	height:400px;
}

.heightthirtyfive{
	height: 35px;
}

.fixedheight2{
	height: 323px;
}

.tabborder i{
	line-height: 20px;
}

.hideoverflow{
	overflow:hidden;
}

.alertDiv{
	position: absolute;
	top: 0px;
	width: 90%;
	z-index: 100;
}

.which-userlist{
	border: 1px solid #337ab7;
	border-radius: 4px;
	margin-bottom: 15px;
}

.which-userlist p{
    margin: 0 auto;
   	background-color: #B5D7F5;	
    text-align: center;
}

.italic{
	font-style: italic;
}
