<div class="container">
	<div class="row blue text-center">
		<h1>{{openItems[currentOpen.ID].topic}}</h1>
	</div>
	<div class="row">
		<div class="col-md-9">
			
			<div class="row red">
				<div class="col-md-2 selectBox" ng-repeat="tab in openTabs" ng-class="{true: 'green', false: 'purple'}[tab===currentOpen.ID]" ng-click="open(tab)">
					{{openItems[tab].name}}
					<span class="pull-right" ng-hide="tab==='Room-lobby'"><i class="fa fa-times" ng-click="closeTab(tab)"></i></span>		
				</div>
			</div>
			
			<div class="row blue roomChat">
				
				<div class="col-md-12 roomChatBox purple">
					<ul>
						<li ng-repeat="message in openItems[currentOpen.ID].messages">
							<span class="col-md-3 text-left">
								{{message.nick | usernameFilter}}:
							</span> 
							<span class="col-md-9 text-left">
								{{message.message}}
							</span>
						</li>
					</ul>
				</div>

				<div class="col-md-12 input-group">
					<input type="text" ng-model="inputText" maxlength="200" class="form-control" placeholder="Enter a message..." focus-directive enter-directive enter="sendText()">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="sendText()">Send</button>
					</span>
				</div>

			</div>
		</div>
		<div class="col-md-3">
			<div id="createRoom" class="row text-center">
				<button class="btn btn-default" ng-click="createRoom()">Create Room</button>
			</div>
			<div class="row">
				<div class="col-md-6 selectBox" ng-class="{true: 'purple', false: 'blue'}[showRooms]" ng-click="show(true)">
					ROOMS
				</div>
				<div class="col-md-6 blue selectBox" ng-class="{true: 'purple', false: 'blue'}[!showRooms]" ng-click="show(false)">
					USERS
				</div>
			</div>
			<div class="row green selectBox">
				<div ng-repeat="(roomName, val) in rooms" ng-show="showRooms" ng-click="openChatRoom(roomName)">
					{{roomName}}
				</div>
				<div ng-repeat="(key, val) in openItems[currentOpen.ID].ops | orderBy:'val'" ng-show="!showRooms" ng-click="privateChat(val)">
					{{val}} - Op
				</div>
				<div ng-repeat="(key, val) in openItems[currentOpen.ID].users | orderBy:'val'" ng-show="!showRooms" ng-click="privateChat(val)">
					{{val}}
					<span ng-show="openItems[currentOpen.ID].ops[connectedUser]">
						<i class="fa fa-ban pull-right" title="Ban" data-toggle="tooltip" ng-click="ban(val); $event.stopPropagation();"></i>
						<i class="fa fa-user-times pull-right" title="Kick" data-toggle="tooltip" ng-click="kick(val); $event.stopPropagation();"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

openTabs: {{openTabs}}
<br>
<br>
OpenItems: {{openItems}}
<br>
<br>
CurrentOpen: {{currentOpen}}
<br>
<br>
Rooms: {{rooms}}