<div class="modal-header">
	<h3 class="modal-title">{{roomObj.title}}</h3>
</div>	


<div class="modal-body">
		    	
	<ul class="list-group">
		<li class="list-group-item itemRow" ng-repeat="user in roomObj.users">
			
			<div>
				<span ng-show="roomObj.connectedUser !== user">{{user}}</span>
				<span class="pull-right" ng-show="roomObj.isOp && roomObj.connectedUser !== user">
					<button ng-click="ok(user)" class="btn btn-danger">{{roomObj.buttonLabel}}</button>
				</span>			
			</div>
				
			<div>	
				<span ng-show="roomObj.connectedUser === user">
					You
				</span>
			</div>
		
		</li>
	</ul>

</div>


<div class="modal-footer">
	<button class="btn btn-primary" ng-click="close()">Close</button>
</div>

