<div id="loginContainer" class="text-center">
	<div id="loginForm">

		<div>
			<h1>Login Page</h1>
		</div>

		<form novalidate name="loginForm">
			<div>
				
				<label for="loginName"> Username: </label>

				<input type="text" id="loginName" name="loginName" ng-model="user.username" required="required" ng-minlength="2" focus-directive enter-directive enter="login()">
				
				<button ng-click="login()">Log in</button>
				
				<div class="errorBlock" ng-show="submitted">
					<p class="errorMessage" ng-show="errors.available">That username is already taken</p>
					<p class="errorMessage" ng-show="loginForm.loginName.$error.required">Username is required</p>
					<p class="errorMessage" ng-show="loginForm.loginName.$error.minlength">Username must be at least 2 characters long</p>
				</div>
			
			</div>

		</form>

	
	</div>

</div>