<div id="roomContainer" class="text-center">
	
	<div id="room">
		
		<button class="toRooms" ng-click="toRooms()">Back to Rooms</button>
		
		<h1>{{topic}}</h1>

		<div class="roomChat col-md-9">
			<h2>Chat</h2>

			<div class="roomChatBox">
				<ul>
					<li ng-repeat="message in messages">
						<span class="col-md-3 text-left">
							{{message.nick | usernameFilter}}:
						</span> 
						<span class="col-md-9 text-left">
							{{message.message}}
						</span>
					</li>
				</ul>
			</div>
			
			<div class="roomChatInput">
				<span>You: </span>
				<input type="text" ng-model="inputText" maxlength="200">
				<button ng-click="sendText()">Send</button>
			</div>
		</div>

		<div class="roomUsers col-md-3">
			<h2>Users</h2>

			<ul class="userList">
				<li ng-repeat="(key, val) in users">{{key}}</li>
			</ul>
		</div>

		<div>
			The connected user is {{connectedUser}}
		</div>

	</div>

</div>